.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
}

.card {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index-baslik {
    text-align: center;
}
.shop_yildiz{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
  

}
.onecikan{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  font-size: 25px;
  margin: auto;
}